.header {
  height: 70px;
  width: 100vw;
  background-color: turquoise;
}

.header__logout {
  display: flex;
  justify-content: flex-end;
  align-items: center;

  /* align-self: center; */
}

.header__logout__btn {
  background-color: white !important;
  color: black !important;
  margin-top: 15px !important;
  margin-right: 15px !important;
}
